<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
			Validación y Descarga de Documentos
		</h1>
	</div>
</div>
<br>
<div class="well">
	<div class="row">
		<div class="col-sm-3">
			<label>Municipio</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="dc.evento.municipio_id">
				<option value="{{municipio._id}}" ng-repeat="municipio in dc.municipios">
					{{municipio.nombre}}
				</option>
			</select>
		</div>
		<div class="col-sm-3" valida>
			<label>Evento</label>
			<select name="evento" class="form-control select2" placeholder="Seleccione" ng-model="dc.evento.evento_id"
				ng-change="dc.seleccionaEvento(dc.evento.evento_id)" required>
				<option value="{{evento._id}}" ng-repeat="evento in dc.eventos">
					{{evento.nombre}}
				</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label>Deportes</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="dc.evento.deporte_id"
				ng-change="dc.seleccionaDeporte(dc.evento.evento_id, dc.evento.deporte_id)">
				<option value="{{deporte._id}}" ng-repeat="deporte in dc.deportes">
					{{deporte.nombre}}
				</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<label>Categoria</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="dc.evento.categoria_id">
				<option value="{{categoria._id}}" ng-repeat="categoria in dc.categorias">
					{{categoria.nombre}}
				</option>
			</select>
		</div>

		<div class="col-sm-3">
			<label>Rama</label>
			<select name="rama" class="form-control select2" placeholder="Seleccione" ng-model="dc.evento.rama_id">
				<option value="{{rama._id}}" ng-repeat="rama in dc.ramas">
					{{rama.nombre}}
				</option>
			</select>
		</div>

	</div>
	<br />
	<div class="row">
		<div class="col-sm-4">
			<input id="buscar" class="btn btn-primary" type="button" ng-click="dc.buscar()" value="Buscar" />
		</div>
	</div>
</div>

<table class="table" align="center">
	<thead>
		<tr>
			<th style="text-align: center;" width="5%">Foto</th>
			<th style="text-align: center;" width="8%">CURP</th>
			<th style="text-align: center;" width="10%">Nombre</th>
			<th style="text-align: center;" width="5%">Sexo</th>
			<th style="text-align: center;" width="8%">Fecha Nacimiento</th>
			<th style="text-align: center;" width="5%">Curp</th>
			<th style="text-align: center;" width="5%">Carta de Consentimiento</th>
			<th style="text-align: center;" width="5%">Identificación</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="participante in dc.arreglo">
			<td style="text-align: center;">
				<img src="{{dc.tieneFoto(participante.sexo, participante.foto)}}" alt="" class="img-rounded img-responsive"
					style="width:60px; height:60px;" />
			</td>
			<td style="text-align: center;">{{participante.curp}}</td>
			<td style="text-align: left;">{{participante.nombre}} {{participante.apellidoPaterno}}
				{{participante.apellidoMaterno}}</td>
			<td style="text-align: center;">{{participante.sexo}}</td>
			<td style="text-align: center;">{{participante.fechaNacimiento | date: "dd/MM/yyyy"}}</td>
			<td style="text-align: center;" ng-if="participante.curpImagen != ''">
				<a class="btn btn-primary btn-xs" href="javascript:void(0);" ng-click="dc.descargar(participante.curpImagen)"><i
						class="fa fa-cloud-download"></i></a>
				</span>
				<a class="btn btn-success btn-xs" href="javascript:void(0);" ng-click="dc.validar(participante, 1, 2)"
					ng-if="!participante.curpImagen.estaValidado"><i class="fa fa-check"></i></a>
				<a class="btn btn-danger btn-xs" href="javascript:void(0);" ng-click="dc.validar(participante, 1, 3)"
					ng-if="!participante.curpImagen.estaValidado"><i class="fa fa-times"></i></a>
				<div class="text-center">
					<span ng-if="participante.curpImagen.estatus == 1" class="label label-warning">
						Sin Validar
					</span>
					<span ng-if="participante.curpImagen.estatus == 2" class="label label-success">
						Correcto
					</span>
					<span ng-if="participante.curpImagen.estatus == 3" class="label label-danger">
						Error
					</span>
				</div>
			</td>
			<td style="text-align: center;" ng-if="participante.curpImagen == ''">
				<div class="text-center">
					<span class="label label-info">
						Sin Subir
				</div>
			</td>

			<td style="text-align: center;" ng-if="participante.actaNacimiento != ''">
				<a class="btn btn-primary btn-xs" href="javascript:void(0);"
					ng-click="dc.descargar(participante.actaNacimiento)"><i class="fa fa-cloud-download"></i></a>
				<a class="btn btn-success btn-xs" href="javascript:void(0);" ng-click="dc.validar(participante, 2, 2)"
					ng-if="!participante.actaNacimiento.estaValidado"><i class="fa fa-check"></i></a>
				<a class="btn btn-danger btn-xs" href="javascript:void(0);" ng-click="dc.validar(participante, 2, 3)"
					ng-if="!participante.actaNacimiento.estaValidado"><i class="fa fa-times"></i></a>
				<div class="text-center">
					<span ng-if="participante.actaNacimiento.estatus == 1" class="label label-warning">
						Sin Validar
					</span>
					<span ng-if="participante.actaNacimiento.estatus == 2" class="label label-success">
						Correcto
					</span>
					<span ng-if="participante.actaNacimiento.estatus == 3" class="label label-danger">
						Error
					</span>
				</div>
			</td>
			<td style="text-align: center;" ng-if="participante.actaNacimiento == ''">
				<div class="text-center">
					<span class="label label-info">
						Sin Subir
				</div>
			</td>

			<td style="text-align: center;" ng-if="participante.identificacion != ''">
				<a class="btn btn-primary btn-xs" href="javascript:void(0);"
					ng-click="dc.descargar(participante.identificacion)"><i class="fa fa-cloud-download"></i></a>
				<a class="btn btn-success btn-xs" href="javascript:void(0);" ng-click="dc.validar(participante, 3, 2)"
					ng-if="!participante.identificacion.estaValidado"><i class="fa fa-check"></i></a>
				<a class="btn btn-danger btn-xs" href="javascript:void(0);" ng-click="dc.validar(participante, 3, 3)"
					ng-if="!participante.identificacion.estaValidado"><i class="fa fa-times"></i></a>
				<div class="text-center">
					<span ng-if="participante.identificacion.estatus == 1" class="label label-warning">
						Sin Validar
					</span>
					<span ng-if="participante.identificacion.estatus == 2" class="label label-success">
						Correcto
					</span>
					<span ng-if="participante.identificacion.estatus == 3" class="label label-danger">
						Error
					</span>
				</div>
			</td>
			<td style="text-align: center;" ng-if="participante.identificacion == ''">
				<div class="text-center">
					<span class="label label-info">
						Sin Subir
				</div>
			</td>

		</tr>
	</tbody>
</table>