<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Participantes &gt; Buscar
		</h1>
	</div>
</div>
<br>
<div class="well">	    
	<div class="row">
		<div class="col-sm-3" ng-if="currentUser.roles[0] == 'admin'">
			<label >Municipio</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="lp.buscar.municipio_id">
					<option  value="{{municipio._id}}" ng-repeat="municipio in lp.municipios">
						{{municipio.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label >Evento</label>
			<select name="evento" class="form-control select2" placeholder="Seleccione" ng-model="lp.buscar.evento_id">
					<option  value="{{evento._id}}" ng-repeat="evento in lp.eventos">
						{{evento.nombre}}
					</option>
			</select>
		</div>
		<!--
		<div class="col-sm-3">
			<label >Deporte</label>
			<select name="deporte" class="form-control select2" placeholder="Seleccione" ng-model="lp.buscar.deporte_id">
					<option  value="{{deporte._id}}" ng-repeat="deporte in lp.deportes">
						{{deporte.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label >Categoria</label>
			<select name="categoria" class="form-control select2" placeholder="Seleccione" ng-model="lp.buscar.categoria_id">
					<option  value="{{categoria._id}}" ng-repeat="categoria in lp.categorias">
						{{categoria.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-2">
			<label >Rama</label>
			<select name="rama" class="form-control select2" placeholder="Seleccione" ng-model="lp.buscar.rama_id">
					<option  value="{{rama._id}}" ng-repeat="rama in lp.ramas">
						{{rama.nombre}}
					</option>
			</select>
		</div>
		-->
	</div>
</div>	
<div class="row">
	<div class="col-sm-12">
		<div class="input-group">
			<div class="input-group-btn">
				<a href="./eventosmostrar" class="btn btn-default btn-primary">
					<i class="fa fa-plus"></i> Nuevo
				</a>
			</div>
			<input class="form-control" type="text" placeholder="Buscar..." ng-model="lp.buscar.nombre" capitalize>
		</div>
	</div>
</div>
<div class="row">
	<div class="superbox col-sm-12">
		<div class="superbox-list" ng-repeat="participante in lp.participantes">
			<div class="img-box" style="margin:20px;">
				<img ng-src="{{lp.tieneFoto(participante.sexo, participante.foto)}}" style="width: 60px; height: 60px" data-img="img/superbox/superbox-full-1.jpg" alt="{{participante.nombreCompleto}}" title="{{participante.nombreCompleto" class="superbox-img">
				<ul class="text-center" style="margin-left: -20px;width: 5px; height: 5px;">
	        <a href="/participanteseditar/{{participante._id}}"><li><i class="fa fa-pencil"></i></li></a>
	      </ul>
	      <ul class="text-center" style="margin-left: 30px;width: 5px; height: 5px;">
	        <a href="#" ng-click="lp.eliminar(participante._id)"><li><i class="fa fa-eraser"></i></li></a>
	      </ul>
			</div>
			<p class="lead font-xs text-center">{{participante.nombre}}</p>
			<p class="lead font-xs text-center">{{participante.apellidoPaterno}} {{participante.apellidoMaterno}}</p>
		</div>
		
	</div>	
	<div class="superbox-show" style="height:300px; display: none"></div>
</div>