<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Cedula de Inscripción
		</h1>
	</div>
</div>
<br>
<div class="well">	    
	<div class="row">
		<div class="col-sm-3" ng-if="currentUser.roles[0] == 'admin'">
			<label >Municipio</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="ced.evento.municipio_id">
					<option  value="{{municipio._id}}" ng-repeat="municipio in ced.municipios">
						{{municipio.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label >Evento</label>
			<select name="evento" class="form-control select2" placeholder="Seleccione" ng-model="ced.evento.evento_id">
					<option  value="{{evento._id}}" ng-repeat="evento in ced.eventos">
						{{evento.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label >Deporte</label>
			<select name="deporte" class="form-control select2" placeholder="Seleccione" ng-model="ced.evento.deporte_id">
					<option  value="{{deporte._id}}" ng-repeat="deporte in ced.deportes">
						{{deporte.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label >Categoria</label>
			<select name="categoria" class="form-control select2" placeholder="Seleccione" ng-model="ced.evento.categoria_id">
					<option  value="{{categoria._id}}" ng-repeat="categoria in ced.categorias">
						{{categoria.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-2">
			<label >Rama</label>
			<select name="rama" class="form-control select2" placeholder="Seleccione" ng-model="ced.evento.rama_id">
					<option  value="{{rama._id}}" ng-repeat="rama in ced.ramas">
						{{rama.nombre}}
					</option>
			</select>	
		</div>
		<div class="col-sm-2" valida>
			<label for="funcionespecifica">Función Especifica</label>
			<select name="funcionespecifica" ng-model="ced.evento.funcionEspecifica" data-placeholder="Seleccione" class="form-control">
					<option value=""></option>
					<option value="DEPORTISTA">Deportista</option>
					<option value="ENTRENADOR">Entrenador</option>
					<option value="ENTRENADOR AUXILIAR">Entrenador Auxiliar</option>
					<option value="DELEGADO POR DEPORTE" ng-if="currentUser.roles[0] == 'admin'">Delegado Por Deporte</option>
					<option value="DELEGADO GENERAL">Delegado General</option>
					<option value="AUXILIAR GENERAL">Auxiliar General</option>
					<option value="ASOCIACIÓN" ng-if="currentUser.roles[0] == 'admin'">Asociación</option>
					<option value="JUEZ/ARBITRO" ng-if="currentUser.roles[0] == 'admin'">Juez/Arbitro</option>
					<option value="JEFE DE MISIÓN" ng-if="currentUser.roles[0] == 'admin'">Jefe de Misión</option>
					<option value="OFICIAL">Oficial</option>
					<option value="MÉDICO" ng-if="currentUser.roles[0] == 'admin'">Médico</option>
					<option value="PRENSA" ng-if="currentUser.roles[0] == 'admin'">Prensa</option>
					<option value="INVITADO ESPECIAL" ng-if="currentUser.roles[0] == 'admin'">Invitado Especial</option>
					<option value="COMITÉ ORGANIZADOR" ng-if="currentUser.roles[0] == 'admin'">Comité Organizador</option>
					<option value="TRASPORTE" ng-if="currentUser.roles[0] == 'admin'">Transporte</option>
			</select>
		</div>
	</div>
	<br/>
	<div class="row">	
		<div class="col-sm-4">
				<!--
				<a class="btn btn-primary" ui-sref="anon.imprimircedula({evento:ced.evento.evento_id
																																,deporte:ced.evento.deporte_id
																															  ,categoria:ced.evento.categoria_id
																																,rama:ced.evento.rama_id
																																,funcionEspecifica:ced.evento.funcionEspecifica
																																,municipio:ced.evento.municipio_id})" target="_blank">
				  Generar Cédula
				</a>
				-->		
				<input id="cedula" class="btn btn-primary" type="button" ng-click="ced.download(ced.participantes)" value="Generar Cedula" />
		</div>
	</div>
</div>		

<!-- Tablas-->
<table class="table" width="600" align="center" bs-table>
	<thead>
		 <tr>
			 <th>Foto</th>
			 <th>CURP</th>
			 <th>Nombre</th>
			 <th>Sexo</th>
			 <th>Fecha Nacimiento</th>	 
		 </tr> 
	</thead>	
	<tbody>
		<tr ng-repeat="participante in ced.participantes"> 
			<td>
					<img src="{{ced.tieneFoto(participante.sexo, participante.foto)}}" alt="" class="img-rounded img-responsive" style="width:60px; height:60px;" />
			</td>	
			<td>{{participante.curp}}</td>
			<td>{{participante.nombre}} {{participante.apellidoPaterno}} {{participante.apellidoMaterno}}</td>
			<td>{{participante.sexo}}</td>
			<td>{{participante.fechaNacimiento.getUTCDate() +"/"+ (participante.fechaNacimiento.getUTCMonth()+1) +"/"+ participante.fechaNacimiento.getUTCFullYear()}}</td>						
		</tr>	
	</tbody>
</table>

 <a id='dwnldLnk' href="#" download='cedula.docx' style="display:none;" hidden="true"></a>   



















