<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Impresiones 
		</h1>
	</div>
</div>
<br>
<div class="well">	    
	<div class="row">
		<div class="col-sm-3" valida>
			<label >Evento</label>
			<select name="evento" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.evento_id" required>
					<option  value="{{evento._id}}" ng-repeat="evento in imp.eventos">
						{{evento.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label >Municipio</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.municipio_id">
					<option  value="{{municipio._id}}" ng-repeat="municipio in imp.municipios">
						{{municipio.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label >Deportes</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.deporte_id">
					<option  value="{{deporte._id}}" ng-repeat="deporte in imp.deportes">
						{{deporte.nombre}}
					</option>
			</select>
		</div>
	</div>	
	<div class="row">	
		<div class="col-sm-3">
			<label >Categoria</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.categoria_id">
					<option  value="{{categoria._id}}" ng-repeat="categoria in imp.categorias">
						{{categoria.nombre}}
					</option>
			</select>
		</div>
		
		<div class="col-sm-3">
			<label >Rama</label>
			<select name="rama" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.rama_id">
					<option  value="{{rama._id}}" ng-repeat="rama in imp.ramas">
						{{rama.nombre}}
					</option>
			</select>
		</div>
		
	</div>
</div>
<div class="well">		
	<div class="row">
		<div class="col-sm-3">
				<a class="btn btn-primary" ui-sref="anon.credenciales({evento:imp.evento.evento_id
																															,municipio:imp.evento.municipio_id
																															,deporte:imp.evento.deporte_id
																															,categoria:imp.evento.categoria_id
																															,rama:imp.evento.rama_id})" target="_blank">
				  Credenciales
				</a>
		</div>
		<div class="col-sm-3">
				<a class="btn btn-primary" ui-sref="anon.gafetes({evento:imp.evento.evento_id
																												 ,municipio:imp.evento.municipio_id
																												 ,deporte:imp.evento.deporte_id
																												 ,categoria:imp.evento.categoria_id
																												 ,rama:imp.evento.rama_id})" target="_blank">
				  Gafetes
				</a>
		</div>
	</div>
</div>		
<table class="table" width="600" align="center" bs-table>
	<thead>
		 <tr>
			 <th>Foto</th>
			 <th>CURP</th>
			 <th>Nombre</th>
			 <th>Sexo</th>
			 <th>Fecha Nacimiento</th>	 
		 </tr> 
	</thead>	
	<tbody>
		<tr ng-repeat="participante in imp.participantes"> 
			<td>
					<img src="{{imp.tieneFoto(participante.sexo, participante.foto)}}" alt="" class="img-rounded img-responsive" style="width:60px; height:60px;" />
			</td>	
			<td>{{participante.curp}}</td>
			<td>{{participante.nombre}} {{participante.apellidoPaterno}} {{participante.apellidoMaterno}}</td>
			<td>{{participante.sexo}}</td>
			<td>{{participante.fechaNacimiento.getUTCDate() +"/"+ (participante.fechaNacimiento.getUTCMonth()+1) +"/"+ participante.fechaNacimiento.getUTCFullYear()}}</td>		
		</tr>	
	</tbody>
</table>




