<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Impresiones 
		</h1>
	</div>
</div>
<br>
<div class="well">	    
	<div class="row">
		<div class="col-sm-3">
			<label >Municipio</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.municipio_id">
					<option  value="{{municipio._id}}" ng-repeat="municipio in imp.municipios">
						{{municipio.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3" valida>
			<label >Evento</label>
			<select name="evento" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.evento_id" required>
					<option  value="{{evento._id}}" ng-repeat="evento in imp.eventos">
						{{evento.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3">
			<label >Deportes</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.deporte_id">
					<option  value="{{deporte._id}}" ng-repeat="deporte in imp.deportes">
						{{deporte.nombre}}
					</option>
			</select>
		</div>
	</div>	
	<div class="row">	
		<div class="col-sm-3">
			<label >Categoria</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.categoria_id">
					<option  value="{{categoria._id}}" ng-repeat="categoria in imp.categorias">
						{{categoria.nombre}}
					</option>
			</select>
		</div>
		
		<div class="col-sm-3">
			<label >Rama</label>
			<select name="rama" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.rama_id">
					<option  value="{{rama._id}}" ng-repeat="rama in imp.ramas">
						{{rama.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3" valida>
			<label for="funcionespecifica">Función Especifica</label>
			<select name="funcionespecifica" ng-model="imp.evento.funcionEspecifica" data-placeholder="Seleccione" class="form-control">
					<option value=""></option>
					<option value="DEPORTISTA">Deportista</option>
					<option value="ENTRENADOR">Entrenador</option>
					<option value="ENTRENADOR AUXILIAR">Entrenador Auxiliar</option>
					<option value="DELEGADO POR DEPORTE" ng-if="currentUser.roles[0] == 'admin'">Delegado Por Deporte</option>
					<option value="DELEGADO GENERAL">Delegado General</option>
					<option value="AUXILIAR GENERAL">Auxiliar General</option>
					<option value="ASOCIACIÓN" ng-if="currentUser.roles[0] == 'admin'">Asociación</option>
					<option value="JUEZ" ng-if="currentUser.roles[0] == 'admin'">Juez</option>
					<option value="JEFE DE MISIÓN" ng-if="currentUser.roles[0] == 'admin'">Jefe de Misión</option>
					<option value="OFICIAL">Oficial</option>
					<option value="SERVICIO MÉDICO" ng-if="currentUser.roles[0] == 'admin'">Servicio Médico</option>
					<option value="PRENSA" ng-if="currentUser.roles[0] == 'admin'">Prensa</option>
					<option value="INVITADO ESPECIAL" ng-if="currentUser.roles[0] == 'admin'">Invitado Especial</option>
					<option value="COMITÉ ORGANIZADOR" ng-if="currentUser.roles[0] == 'admin'">Comité Organizador</option>
					<option value="TRASPORTE" ng-if="currentUser.roles[0] == 'admin'">Transporte</option>
			</select>
		</div>
	</div>
</div>
<div class="well">		
	<div class="row">
		<div class="col-sm-3">
				<input id="credencial" class="btn btn-primary" type="button" ng-click="imp.download(imp.participantes,1)" value="Credenciales" />
		</div>
		<div class="col-sm-3">
				<input id="gafete" class="btn btn-primary" type="button" ng-click="imp.download(imp.participantes,2)" value="Gafetes" />
		</div>
	</div>
</div>		
<table class="table" width="600" align="center" bs-table>
	<thead>
		 <tr>
			 <th width="15%">Foto</th>
			 <th width="20%">CURP</th>
			 <th width="20%">Nombre</th>
			 <th width="10%">Sexo</th>
			 <th width="20%">Fecha Nacimiento</th>	 
			 <th width="5%">Con</th>
			 <th width="15%"><input id="todos" type="checkbox" class="form-control" ng-click="imp.cambiar()" checked="true"/></th>
		 </tr> 
	</thead>	
	<tbody>
		<tr ng-repeat="participante in imp.participantes"> 
			<td>
					<img src="{{imp.tieneFoto(participante.sexo, participante.foto)}}" alt="" class="img-rounded img-responsive" style="width:60px; height:60px;" />
			</td>	
			<td>{{participante.curp}}</td>
			<td>{{participante.nombre}} {{participante.apellidoPaterno}} {{participante.apellidoMaterno}}</td>
			<td>{{participante.sexo}}</td>
			<td>{{participante.fechaNacimiento.getUTCDate() +"/"+ (participante.fechaNacimiento.getUTCMonth()+1) +"/"+ participante.fechaNacimiento.getUTCFullYear()}}</td>
			<td>{{participante.con}}</td>
			<td><input type="checkbox" class="form-control" ng-model="participante.imprimir" value="participante.imprimir"/> </td>
		</tr>	
	</tbody>
</table>


<a id='dwnldLnkG' href="#" download='archivo.docx' style="display:none;" hidden="true"></a>   



